.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Book { /* Placeholder, feel free to modify*/
  
  width: 75%;
  margin: auto;
  
}

#borrowed {
  border-style: groove;
  width: 50%;
  margin: auto;
  background-color: red;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

#in_library_logged {
  border-style: groove;
  width: 50%;
  margin: auto;
  background-color: green;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  margin-bottom: 25px;
}

#in_library_guest {
  border-style: groove;
  width: 50%;
  margin: auto;
  background-color: green;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  margin-bottom: 25px;
}

.teksti {
  margin: 0 50px;
  padding-top: 30px;
}

.box-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 30px;
  height: 440px;
  padding: 20px;
  margin-top: -4px;
  border-top: solid 2px black;
  background-color: #aaa9ad44;
  
}

.box-container2 > div {
  width: 450px;
  height: 360px;
  background-color: #aaa9ad00;
  text-align: center;
  color: black;

} 

.box-container3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 30px;
  height: 440px;
  padding: 20px;
  /* margin-top: 60px; */
  margin-top: -4px;
  
  
 }


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 13px;
  }

#overlay {
  position: absolute; 
  top: 60%; 
  left: 30%;
  color: #FFF; 
  text-align: center;
  font-size: 30px;
  background-color: rgba(6, 7, 16, 0.479);
  width: 640px;
  padding: 50px 0;
  z-index: 2147483647;
}


#v {
  z-index: 1;
  width: 100%;
}

.btn {
  color:white;
  background-color: blue;
  border-color: white;
  border-radius: 5%;
  cursor: pointer;
}

.btn2 {
  color:white;
  background-color: rgba(249, 79, 175, 0.821);
  border-color: white;
  border-radius: 5%;
  cursor: pointer;
}

.footer {
  width: 100%;
  bottom: 0px;
  padding: 20px 0;
  margin: 0 auto;
  background-color: black;
  color: white;
}

#footer2 {
  background-color: black;
  color: white;
  height: 100px;
  width: 100%;
  
  position: relative;
}
#footer3 {
  background-color: black;
  color: white;
  height: 100px;
  margin-top: auto;
  
}
#container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#container2 {
  background-image: url(https://static01.nyt.com/images/2015/10/24/opinion/24manguel/24manguel-superJumbo.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#container3 {
  background-image: url(https://static01.nyt.com/images/2015/10/24/opinion/24manguel/24manguel-superJumbo.jpg);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#container4 {
  background-image: url(blueLibrary1.jpg);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#bookdescription {
  width: 50%;
  margin: auto;
  text-align: justify;
}

.signupForm {
  margin: 0 auto;
  align-items: center;
  width: 250px;
  height: fit-content;
  padding: 20px;
  margin-top: 5rem;
  border: solid 2px black;
  border-radius: 15px;
  background-image: linear-gradient(50deg, #716f72, #edecef 80%);
}

#section2 {
  background-color: white;
  color: black;
  height: 150px;
}

#frtbutton {
  background-color: blue;
  color: white;
  border-radius: 18%;
  border-color: white;
  width: 100px;
  height: 50px;
  margin-bottom: 50px;
}

a {
  color:white;
  text-decoration: none;
}

.slider {
background-image: url('https://trello.com/1/cards/63ca7ace84da49014f9f027e/attachments/63db91f09421bdaa0d085bac/download/books-1204029_1920.jpg');
height: 250px;
width: 100%;
}

.bookListBox {
  margin-top: 80px;
  background-image: linear-gradient(50deg, #4d4c4d, #edecef 80%);
  /* background-image: linear-gradient(50deg, #232224cc, #aaa9ad44 80%); */
  padding: 40px;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
}

#boxForBook {
  background-color: rgba(250, 221, 189, 0.848);
  border: 2px solid black;
  margin-bottom: 5px;
  padding-top: 10px;
  margin: 5 auto;
  padding: 10px;
  text-align: justify;
  font-size: 1rem bold;
  width: 400px;
  height: fit-content;
}

.facebook-button {
  display: inline-block;
  background-color: #3b5998;
  color: white;
  padding: 12px 24px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 220px;
  height: 40px;
}

.facebook-button:hover {
  background-color: #2e4c83;
}

.facebook-logo {
  background-image: url(fbb.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  vertical-align: top;
  background-size: cover;
}

.google-button {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 12px 24px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 220px;
  height: 40px;
}

.google-button:hover {
  background-color: white;
}

.google-logo {
  background-image: url(google.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  background-size: cover;
}


